/* --------------- BARRA DE NAVEGACION --------------- */

:root {
    --fondo1: #202020;
    --fondo2: #ebebeb;
    --fondo3: #d9d9d9;
    --verde: #2EB000;
}

.header {
    background-color: var(--fondo1);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--fondo1);
    
    margin: 0 auto;

    align-items: center;
    box-shadow: 0 5px 10px #767676;
    
}

.header .nav .logos {
    align-items: center;
    display: flex;
    margin-left: 60px;
}

.header .nav .logos .logo1 {
    width: 60px;
    margin: 10px 0;
}

.header .nav .logos .logo2 {
    width: 150px;
}

.header .nav .menu1 {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    line-height: 80px;
    margin: 0 50px;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    color: var(--verde);
    transition: .5s;
}


.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    margin-right: 50px;
    line-height: 60px;

    display: none;

    cursor: pointer;
}

a {
    color: white;
}

a i {
    color: var(--verde);
}

/* --------------sub-menu---------------------- */

.menu1 {
    align-items: center;
}

.menu1 .dropdown {
    position: relative;
}

.menu1 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 54px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    
}

.menu1 .dropdown-content li {
    padding: 15px 0 15px 15px;
    list-style: none;
    width: auto;
    transition: all .8s;
}

.menu1 .dropdown-content li:hover {
    background-color: var(--verde);
    padding: 25px;
    z-index: 1000;
}

.menu1 .dropdown:hover .dropdown-content {
    display: block;
}

.flecha {
    background: none;
    border: none;
    color: white;
    font-size: 17px;
}
/* actualmente en esta parte */
@media (min-width: 1151px) {
    .submenu-mini {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        top: 0;
        
        width: 100%;
        padding: 20px 0;

        transition: top .4s;
    }

    .submenu_visible {
        left: 0;
    }

}


/* -------------- media del menu principal y responsive ------------ */
@media (max-width: 1150px) {
    .header {
        height: 60px;
    }

    .menu1 {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: var(--fondo1);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left .4s;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-item:hover,
    .nav-menu-link_active {
        background: none;
        color: aqua;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

}


