
@media (min-width: 1500px) {
    .section-4 .sparte1 img{
        height: 286px;
    }
    .section-4 .sparte2 img{
        height: 278px;
    }
}

@media (max-width: 1500px){
    .section-4 .sparte2 img {
        height: 218px;
    }

    .section-4 .sparte1 img {
        height: 224px;
    }
}